<div class="container-fluid header-container">
  <div class="promotion">
    <div class="row top-promotion"></div>
  </div>
  <div class="header-nav">
    <div class="row top-header-div">
      <div class="col-md-2">
        <img class="amazon-logo" src="../assets/logo2.png" alt="Amazon Logo">
      </div>
      <div class="col-md-7 search-bar">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon search-dropdown">All <span class="glyphicon glyphicon-triangle-bottom"></span></span>
            <input type="text" class="form-control bfh-number" name="search">
            <span class="input-group-addon search-icon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="main-nav">
      <div class="row">
        <div class="col-md-2 departments-div">
          <span class="departments-span">Departments <span class="glyphicon glyphicon-triangle-bottom"></span></span>
        </div>
        <div class="col-md-6">
          <ul class="main-nav-ul">
            <li><a href="#">Browsing History <span class="glyphicon glyphicon-triangle-bottom"></span></a></li>
            <li><a href="#">Amazon.com</a></li>
            <li><a href="#">Today's Deals</a></li>
            <li><a href="#">Gift Cards & Registry</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <ul class="secondary-nav-ul">
            <li><a href="#">Account's & Lists <span class="glyphicon glyphicon-triangle-bottom"></span></a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Prime <span class="glyphicon glyphicon-triangle-bottom"></span></a></li>
            <li><span class="glyphicon glyphicon-shopping-cart"></span>Cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="under-nav">
  <ul class="ul-under-nav">
    <li><a routerLink="admin">Admin</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="about">About</a></li>
  </ul>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="footer-container container-fluid">
  <div class="footer">
    <div class="footer-nav row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <h4><a href="#">Exhibits</a></h4>
        <ul class="bottom-nav">
          <li><a href="#">Wilds of Africa</a></li>
          <li><a href="#">Tropical Birds</a></li>
          <li><a href="#">Endangered Species</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4><a href="#">Support The Zoo</a></h4>
        <ul class="bottom-nav">
          <li><a href="#">Wildlife Conservation</a></li>
          <li><a href="#">Green Team</a></li>
          <li><a href="#">Okapi Conservation Project</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4><a href="#">Local Zoo</a></h4>
        <ul class="bottom-nav">
          <li><a href="/">Local Zoo Community</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4><a href="#">Group Sales</a></h4>
        <ul class="bottom-nav">
          <li><a href="#">Safari Night</a></li>
          <li><a href="#">Photo Ark</a></li>
          <li><a href="#">Wild Encounters</a></li>
        </ul>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="social-row row">
      <div class="col-md-4"></div>
      <div class="col-md-4 footer-note">
        <img class="amazon-logo" src="../assets/logo2.png" alt="Amazon Logo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam nunc, lacinia id erat scelerisque, gravida interdum risus.</p>
        <ul class="social-links">
          <li>
            <a href="https://github.com/znergy">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ryan-jones-5996948b">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://znergy.net">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>
